body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
}

#search-query {
    padding: 10px;
    font-size: 1.2em;
    width: 50%;
    margin-bottom: 10px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #0056b3;
}

#video-results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* 确保视频项能够换行 */
    justify-content: center; /* 居中对齐视频项 */
}

.video-item {
    background-color: white;
    margin: 15px;
    display: flex;
    flex-direction: row; /* 横向排列图片和文字 */
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center; /* 让图片和文本垂直居中 */
}

.video-item img {
    width: 100px; /* 缩
